header{
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: #064f4e;
    background: url(imagenes/fondo.jpg);
}

header img{
    z-index: 2;
}

main{
    padding: 2%;
    background: url(imagenes/fondo.jpg);
}

.logo{
    width: 100px;
    height: auto;
}

#inputTextoInicial, #inputTextoResultado{
    display: block;
    margin: 1rem auto;
    width: 80%;
}

#divMensajeInformacion{
    display: flex;
    margin: 1rem auto;
    width: 80%;
}

#divMensajeInformacion label{
    margin: 0 0 0 1rem;
}

#inputTextoInicial, #inputTextoResultado{
    background: none;
    border: none;
    resize: none;
    border-radius: 15px;
    padding: 1rem;
}

.botonesSeccionUno, .botonesSeccionDos{
    display: flex;
    margin: 1rem auto;
    width: 80%;
    justify-content: space-evenly;
}

.estiloBoton{
    width: 30%;
    height: 3rem;
    border-radius: 20px;
    background: rgba(5,163,155,0.9584034297312675);
    border: none;
}

.estiloBoton:hover{
    border-color: #055853;
    color: #055853;
}

.estiloBoton:active{
    background: #055853;
    color: #FFFFFF;
}

.seccionDos{
    text-align: center;
    border-radius: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2rem #064f4e;
    padding: 3rem;
    margin: 0 auto;
}

#personaIcono{
    width: 100%;
    margin: 0 auto;
}

footer{
    text-align: center;
    justify-content: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
    height: auto;
    color: #FFFFFF;
}

@media (min-width: 980px){
    main{
        display: flex;
    }

    .seccionUno{
        width: 80%;
    }
}

@media (max-width: 980px){
    main{
        display: block;
    }

    header{
        display: block;
        text-align: center;
        font-size: 3rem;
        color: #064f4e;
        background: url(imagenes/fondo.jpg);
    }

    .seccionUno{
        width: 100%;
        margin: 0 0 3rem 0;
    }

    .seccionDos{
        width: 70%;
    }
}